@import "../../scss/mixins.scss";

.body {
  position: relative;
  background-color: white;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  padding: var(--safety-margin);
}

.to_back {
  position: absolute;
  top: var(--safety-margin);
  left: var(--safety-margin);
}

.list {
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  .order + .order {
    margin-top: 10px;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: lighter;
}

.amount {
  text-align: end;
  font-size: 20px;
  font-weight: lighter;
  .value {
    display: inline-block;
    width: 60px;
  }
}

.field {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  &_title {
    font-size: 18px;
    font-weight: lighter;
    text-align: start;
    margin-bottom: 10px;
  }
  .input {
    @include input;
  }
}

.name {
  input {
    height: 40px;
    font-size: 18px;
    padding: 0 16px;
  }
}

.phone {
  input {
    width: 100%;
    color: black;
    font-family: var(--font);
  }
}

.address {
  .input {
    height: 40px;
    padding: 0 16px;
  }
}

.date {
  // .input {
  //   height: 40px;
  //   outline: none;
  // }
  .containerCn {
    outline: none;
    font-size: 18px;
  }
}

.total_amount {
  font-weight: bold;
  font-size: 20px;
  text-align: end;
  margin-bottom: 20px;
}

.missing_order_message {
  margin-bottom: 10px;
}
.submit_btn {
  @include orange-button;
  width: 250px;
  height: 50px;
  font-size: 20px;
}

.submit_container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.politics {
  font-weight: lighter;
  font-size: 18px;
}

.error_alert {
  width: 150px;
  margin: 0 auto;
}
@media (max-width: 430px) {
  .title {
    text-align: end;
  }
  .submit_btn {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }
}
