.form {
  display: block;
  padding: 20px;
  max-width: 500px;
  box-shadow: 0px 0px 14px 0px rgba(34, 60, 80, 0.3);
}

.title {
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 25px;
}

.field {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: lighter;
  input,
  textarea {
    width: 300px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: lighter;
  }

  textarea {
    height: 250px;
    resize: none;
  }

  input {
    height: 40px;
  }
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  max-width: 200px;
  background-color: var(--gray-color);
  font-size: 18px;
  font-weight: lighter;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  transition: all 0.2s;
  &:hover {
    background-color: var(--orange-2-color);
  }
  &:disabled {
    background-color: var(--gray-2-color);
    cursor: default;
  }
}

.to_back {
  gap: 5px;
  font-size: 18px;
  svg {
    width: 18px;
  }
}

.select {
  width: 300px;
  z-index: 1;
}

.preview {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.button_container {
  display: flex;
  gap: 10px;
  align-items: center;
}
