@import "../../scss/mixins.scss";
.container {
}

.list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.more {
  text-align: center;

  button {
    @include orange-button;
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 470px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
