.container {
  max-width: 500px;
  box-shadow: 0px 0px 14px 0px rgba(34, 60, 80, 0.3);
  padding: 20px;
  background-color: white;
}

.btn {
  width: 100%;
  height: 50px;
  color: white;
  background-color: var(--gray-color);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 20px;
  font-weight: lighter;
  border: none;
  margin-bottom: 20px;
  &:hover {
    background-color: var(--orange-2-color);
  }
}

.title {
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 20px;
}
