@import "../../scss/mixins.scss";

.form {
  min-height: 120px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.name {
  @include input;
  height: 40px;
  width: 220px;
  padding: 0 16px;
}
.politics {
  font-weight: lighter;
  font-size: 18px;
  margin-top: 10px;
}
.submit {
  @include orange-button;

  width: 100px;
  height: 40px;
  text-align: center;
}

.alert_error {
  margin: 0 auto;
  margin-top: 10px;
  width: 150px;
}
.submit_container {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 650px) {
  .container {
    flex-wrap: wrap;
  }
}
@media (max-width: 630px) {
  .form {
    min-height: 170px;
  }
  .container {
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
