@import "../../scss/mixins.scss";

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.name {
  @include input;
  height: 40px;
  width: 220px;
  padding: 0 16px;
}

.submit {
  @include orange-button;

  width: 100px;
  height: 40px;
  text-align: center;
}

@media (max-width: 650px) {
  .form {
    flex-wrap: wrap;
  }
}
