@import "../../scss/mixins.scss";

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.name {
  @include input;

  padding: 0 16px;
}

.submit {
  @include orange-button;

  width: 100px;
  height: 40px;
}
