.body {
  box-shadow: 0px 0px 14px 0px rgba(34, 60, 80, 0.3);
  background-color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-2-color);
  width: 100vw;
  height: 100vh;
}
