@import "../../../scss/mixins.scss";

.basket {
  @include fixed-btn;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 80px;
  right: 15px;
  width: 55px;
  height: 55px;
  background-color: var(--orange-2-color);

  svg {
    width: 70%;
    height: auto;
    fill: white;
    transition: all 0.2s;
  }

  &:hover {
    svg {
      fill: var(--gray-color);
    }
  }
}

.order_count {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  color: white;
  background-color: var(--orange-color);
  border-radius: 50%;
}
@media (max-width: 425px) {
  .basket {
    bottom: 60px;
    width: 40px;
    height: 40px;
  }
}
