@import "../../../scss/mixins.scss";

.move_up {
  @include fixed-btn;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 45px;
  width: 50px;
  height: 50px;
  background-color: var(--orange-2-color);

  svg {
    width: 25px;
    height: 25px;
    transform: rotate(180deg);
    fill: white;
    transition: fill 0.2s;
  }

  &:hover {
    svg {
      fill: var(--gray-color);
    }
  }
}

@media (max-width: 425px) {
  .move_up {
    width: 40px;
    height: 40px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
