:root {
  --orange-color: #ff4500;
  --orange-2-color: #fb7747;
  --orange-3-color: #fcb297;
  --red-color: #ac080f;
  --gray-color: #403f3f;
  --gray-2-color: #d6d6d6;
  --safety-margin: 15px;

  --box-shadow-1: 0px 0px 2px 0px var(--red-color);
  --box-shadow-2: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  --input-height: 36px;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
