.container {
  width: 80%;
  margin: 0 auto;
}

.advantage {
  margin-bottom: 30px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }
}
