.container {
  width: 450px;
}

.main {
  position: relative;
  width: 100%;
  height: 450px;
  margin-bottom: 10px;
  .photo_wrapper {
    width: 100%;
    height: 100%;
  }

  .swiper_slide {
    width: 450px;
    height: 450px;
  }
}

.other {
  .photo_wrapper {
    width: 100%;
    height: 80px;
  }
}

.photo_wrapper {
  user-select: none;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 860px) {
  .container {
    width: 350px;
  }
  .main {
    height: 350px;
    .swiper_slide {
      width: 350px;
      height: 350px;
    }
  }
  .other {
    .photo_wrapper {
      height: 62px;
    }
  }
}

@media (max-width: 730px) {
  .container {
    width: 300px;
  }
  .main {
    height: 300px;
    .swiper_slide {
      width: 300px;
      height: 300px;
    }
  }
  .other {
    .photo_wrapper {
      height: 62px;
    }
  }
}

@media (max-width: 530px) {
  .container {
    width: 350px;
  }
  .main {
    height: 350px;
    .swiper_slide {
      width: 350px;
      height: 350px;
    }
  }
}
@media (max-width: 400px) {
  .container {
    width: 290px;
  }
  .main {
    height: 290px;
    .swiper_slide {
      width: 290px;
      height: 290px;
    }
  }
}
